<div class="container">
  <h2>Stupid Coaching</h2>

  <div class="form">
    <p>Ask you coach anything</p>
    <form action="/answer">
      <input id="question" type="text" name="question">
      <input id="button" type="submit" value="Ask!">
    </form>
  </div>
</div>
